body{
/* direction: rtl; */
}

span
{
/* font-weight: bold */
}

.form-group
{
display: block;
}

.titleHeader
{
font-weight: bolder;
}

.guestArrived
{
    background: green;
}

/* Everything Else */
*
{
    
}